.description-container {
	background-color: #21285C;
    color: #ffffff;
    height: 100%;
    width: 50%;
    position: absolute;
    left: 0;
    overflow: hidden;

}

.header{
    color: #ffffff;
}

h1 {
margin-left: 20px;
}

p {
   margin-left: 20px;
   margin-right: 20px;

}
